<div class="container">
  <h2>Modifier un Mutualiste</h2>
  <form [formGroup]="mutualisteForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <!-- Champs pour les informations de l'assuré -->
    <div class="form-group">
      <label for="nomAssure">Nom</label>
      <input type="text" class="form-control" id="nomAssure" formControlName="nomAssure" required>
    </div>
    <div class="form-group">
      <label for="prenomAssure">Prénom</label>
      <input type="text" class="form-control" id="prenomAssure" formControlName="prenomAssure" required>
    </div>
    <div class="form-group">
      <label for="dateNaissanceAssure">Date de Naissance</label>
      <input type="date" class="form-control" id="dateNaissanceAssure" formControlName="dateNaissanceAssure" required>
    </div>
    <div class="form-group">
      <label for="sexeAssure">Sexe</label>
      <select class="form-control" id="sexeAssure" formControlName="sexeAssure" required>
        <option value="M">Masculin</option>
        <option value="F">Féminin</option>
      </select>
    </div>
    <div class="form-group">
      <label for="telephoneAssure">Téléphone</label>
      <input type="text" class="form-control" id="telephoneAssure" formControlName="telephoneAssure" required>
    </div>
    <div class="form-group">
      <label for="adresseAssure">Adresse</label>
      <input type="text" class="form-control" id="adresseAssure" formControlName="adresseAssure" required>
    </div>
    <div class="form-group">
      <label for="statutAssure">Statut</label>
      <select class="form-control" id="statutAssure" formControlName="statutAssure" required>
        <option value="1">Actif</option>
        <option value="0">Inactif</option>
      </select>
    </div>
    <div class="form-group">
      <label for="photoAssure">Photo</label>
      <input type="file" class="form-control" id="photoAssure" (change)="onFileChange($event, 'photoAssure')" accept="image/png, image/jpeg, image/jpg">
    </div>

    <!-- Champs pour les informations du mutualiste -->
    <div class="form-group">
      <label for="matriculeMutualiste">Matricule</label>
      <input type="text" class="form-control" id="matriculeMutualiste" formControlName="matriculeMutualiste" required>
    </div>
    <div class="form-group">
      <label for="categorieMutualiste">Catégorie</label>
      <select class="form-control" id="categorieMutualiste" formControlName="categorieMutualiste" required>
        <option value="agent">Agent interne</option>
        <option value="contractuel">Agent contractuel</option>
        <option value="detache">Agent Détaché</option>
        <option value="retraite">Agent Retraité</option>
      </select>
    </div>
    <div class="form-group">
      <label for="serviceMutualiste">Service</label>
      <input type="text" class="form-control" id="serviceMutualiste" formControlName="serviceMutualiste" required>
    </div>
    <div class="form-group">
      <label for="fonctionMutualiste">Fonction</label>
      <input type="text" class="form-control" id="fonctionMutualiste" formControlName="fonctionMutualiste" required>
    </div>
    <div class="form-group">
      <label for="depensesSante">Dépenses Santé</label>
      <input type="number" class="form-control" id="depensesSante" formControlName="depensesSante" required>
    </div>
    <div class="form-group">
      <label for="documentMutualiste">Document</label>
      <input type="file" class="form-control" id="documentMutualiste" (change)="onFileChange($event, 'documentMutualiste')" accept="image/png, image/jpeg, image/jpg, application/pdf">
    </div>

    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>
</div>
